.StatusIcon {
    display: inline-block;
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.StatusIcon.pending {
    background-color: orange;
}

.StatusIcon.unknown {
    background-color: black;
}
